@model WebApplication1.Models.Detalle_Venta

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Detalle_Venta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_Servicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_Servicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venta.Id_Venta)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_Detalle_Venta" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
